<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Taste Explorer</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="content-container">
      <%- include('partials/header', { title }) %>
      <div class="configuration-container">
        <% if (user) { %>
        <h2>Logged in as user: <%= user.id %></h2>
        <% } else { %>
        <h2>Not logged in</h2>
        <% } %>

        <!-- Spotify Access Token -->
        <% if (!spotify.isAuthorized) { %>
        <a href="auth/login/spotify">Add Spotify</a>
        <% } else { %>
        <h3>Current Spotify Access Token</h3>
        <p id="token"><%= spotify.accessToken %></p>
        <% } %>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
