<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <div class="content-container">Let's fill this with content!</div>
  </body>
  <%- include('partials/footer') %>
</html>
