<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="content-container">
      <h1><%= title %></h1>
      <div class="configuration-container">
        <% if (user) { %>
        <h2>Logged in as user: <%= user.id %></h2>
        <% } else { %>
        <h2>Not logged in</h2>
        <% } %>

        <!-- Spotify Access Token -->
        <% if (!spotify.isAuthorized) { %>
        <a href="auth/login/spotify">Add Spotify</a>
        <% } else { %>
        <h3>Current Spotify Access Token</h3>
        <p id="token"><%= spotify.accessToken %></p>
        <button onclick="copyToClipboard('token')">Copy to Clipboard</button>
        <% } %>
      </div>
    </div>
  </body>
  <script>
    function copyToClipboard(id) {
      var copyText = document.getElementById(id);
      copyText.select();
      document.execCommand("copy");
    }
  </script>
</html>
