.select-playlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 1rem;

  .playlist-options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

.select-playlist-container .header-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
