<head>
  <meta charset="utf-8" />
  <title>Taste Explorer</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://unpkg.com/htmx.org@1.6.1"></script>
  <script src="/scripts/utils.js"></script>
  <script
    src="https://kit.fontawesome.com/ad58e7b1a1.js"
    crossorigin="anonymous"
  ></script>
</head>
