<head>
  <meta charset="utf-8" />
  <title>Taste Explorer</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/select-playlist.styles.css" />
  <link rel="stylesheet" href="/stylesheets/venn.styles.css" />
  <link rel="stylesheet" href="/stylesheets/select-playlist.styles.css" />
  <link rel="icon" href="/images/favicon.ico" />
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    href="/images/android-icon-192x192.png"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://unpkg.com/htmx.org@1.6.1"></script>
  <script src="/scripts/utils.js"></script>
  <script
    src="https://kit.fontawesome.com/ad58e7b1a1.js"
    crossorigin="anonymous"
  ></script>
</head>
