<head>
  <meta charset="utf-8" />
  <title>Taste Explorer</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- other meta tags, stylesheets, etc. -->
  <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>
