<a href="<%= spotifyLoginRedirectURL %>">
  <div
    class="bordered-container transfer-playback-container elevated clickable"
  >
    <i class="fa-brands fa-spotify"></i>
    Login to Spotify to Start Listening
  </div>
</a>
