<div
  class="bordered-container transfer-playback-container elevated clickable"
  hx-get="/player/music-player"
  hx-trigger="click"
  hx-triggering-element="#music-player-transfer-playback"
  hx-swap="afterend"
  id="music-player-transfer-playback-container"
>
  <i class="fa-brands fa-spotify"></i>

  Transfer Playback to This Device
</div>
